// size
$size-content: 1168px;
$size-basic: 16px;

// font
$font-small: 12px;
$font-medium: 14px;
$font-large: 32px;

// color
$color-header: #e8e8e8;
$color-light: #888;
$color-lighter: #ddd;
$color-lightest: #fafafa;
$color-dark: #25292c;
$color-red: #ca7379;




// short
$content: $size-content;
$basic: $size-basic;
$full: 100%;

$small: $font-small;
$medium: $font-medium;
$large: $font-large;

$header: $color-header;
$light: $color-light;
$lighter: $color-lighter;
$lightest: $color-lightest;
$dark: $color-dark;
$red: $color-red;
$white: #fff;
$black: #000;